    /* Style de la boîte de dialogue modale */
    .modal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: -10%;
      width: 100%;
      height: 100%;
      overflow: hidden;
      background-color: rgba(0, 0, 0, 0);
    }
      
      /* Style du contenu de la boîte de dialogue modale */
      .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-width: 600px;
      }

      .text-white{
          padding-right:40px;
      }

      @media screen and (max-width: 575px) {
        .modal {
          top: 10%;
        }
        .modal-content {
        padding: 10px;
        }
      }
      
      /* Style du bouton pour fermer la boîte de dialogue modale */
      .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
      }
      
      .close:hover,
      .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }

      button {
        background-color: #F9F9F9;
        outline: none;
        border: none;
     }